*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html,body{
     width: 100%;
     height: 4000px;
     background-color: #0E9FA7; 
 }
.loader_bg{
    position: fixed;
    z-index: 999999;
    background:#E3E3F1;
    width: 100%;
    height: 100%;
 }
 .loader{
     border: 0 solid transparent;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     position: absolute;
     top: calc(50vh - 75px);
     left: calc(50vw - 75px);
 }
 .loader::before, .loader::after{
     content: '';
     border: .5em solid #0E9FA7;
     border-radius: 50%;
     width: inherit;
     height: inherit;
     position: absolute;
     top: 0;
     left: 0;
     animation: loader 2s linear infinite;
     opacity: 0;

 }
 .loader::before{
     animation-delay: .5s;
 }
 @keyframes loader{
     0%{
            transform: scale(0);
            opacity: 0;
       }
    50% {
            opacity: 1;
        }
    100%{
            transform: scale(1);
            opacity: 0;
        }
}  
#container{
    position: fixed;
    top: 0;
    left: 0;
    width: 400%;
    height: 100vh;
    display: flex;
}

#menu{
    height: 10%;
    padding: 25px;
  
}
#menu button{
    border: none;
    background-color: transparent;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
}
#menu a{
    text-decoration: none;
    color: black;
}

#container  section{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    scroll-snap-align: center;
}

#bars{
    display: flex;
    flex-direction: column;
    padding: 22% 4%;
}
.bar1{
    width: 35px;
    height: 2px;
    background-color: black;
    margin-bottom: 8px; 
    border: none;
    
}
.bar2{
    width: 35px;
    height: 2px;
    background-color: black;
    margin-bottom: 8px;
    border: none;
}
.bar3{
    width: 35px;
    height: 2px;
    background-color: black;
    margin-bottom: 8px;
    border: none;
}
.bar-active{
    border: none;
    width: 70px;
    height: 2px;
    background-color: black;
    margin-bottom: 8px;
}
#left{
    width: 10%;
    height: 20%;

}


#line5{
    width:15%;
    border-bottom: none;
    border:2px solid white;
    border-bottom: none;
    position: absolute;
    top: 75%;
    left: -2.7%;
    transform: rotate(90deg);
    display: flex;
}

#text1{
    width: 10%;
    font-size: 20px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: -1.5%;
    top: 78%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

#text2{
    width: 10%;
    font-size: 20px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: 1%;
    top: 59%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
#index-quote1{
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    transform: rotate(-90deg);
    left: 1.3%;
    top: 72%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#index-quote2{
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    transform: rotate(-90deg);
    left: 2%;
    top: 80%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.text1{
    width: 10%;
    font-size: 18px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: 1%;
    top: 65%;
    font-family: 'Josefin Sans', sans-serif;
}
#quote1{
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    transform: rotate(-90deg);
    left: -0.2%;
    top: 69%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#quote2{
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    transform: rotate(-90deg);
    left: 1.5%;
    top: 84%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.text2{
    
    width: 10%;
    font-size: 18px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: -1.5%;
    top: 70%;
    font-family: 'Josefin Sans', sans-serif;
}
.text1 a{
    color: black;
    text-decoration: none;
}
.text2 a{
    color: black;
    text-decoration: none;
}
.text1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.text2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.text1{
    width: 10%;
    font-size: 20px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: -1.5%;
    top: 79%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.text2{
    width: 10%;
    font-size: 20px;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    position: absolute;
    left: 1%;
    top: 63%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#signature{
    width: 180px;
    height: 180px;
    background-image: url("Varsha\ Kumari.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 5%;
    top: 10%;
    transform: rotate(-5deg);
}
#line1{
    width:35%;
    border-bottom: none;
    border:0.9px solid black;
    border-bottom: none;
    position: absolute;
    top: 24%;
    left: 10%;
}
#line2{
    width:35%;
    border:0.9px solid black;
    border-bottom: none;
    position: absolute;
    top: 24%;
    left: 65%;
}

#line3{
    width:10%;
    border-bottom: none;
    border:0.9px solid black;
    border-bottom: none;
    position: absolute;
    top: 20%;
    left: 92.2%;
    transform: rotate(90deg);
}
#line4{
    width:10%;
    border-bottom: none;
    border:0.9px solid black;
    border-bottom: none;
    position: absolute;
    top: 70%;
    left: 92%;
    transform: rotate(90deg);
}
#icons{
    list-style: none;
    font-size: 25px;
    position: absolute;
    left: 96.3%;
    top: 30%;
    margin-top: 6px;
}
#icons li{
    padding-top: 22px;
}
#icons a{
    color: black;
}
#left{
    width: 10%;
    height: 100%;
    background-color: #0E9FA7;
}

#right{
    width: 80%;
    height: 100%;
    background-color: #E3E3F1;
}
/*polygons*/

#polygon1{
    width: 25%;
    height: 30%;
    background-image: url("Path\ 3.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
}
#polygon2{
    width: 50%;
    height: 40%;
    background-image: url("Path\ 12.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
}
#polygon3{
    width: 25%;
    height: 20%;
    background-image: url("Path\ 8.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:80%;
    left: 20%;
}
#polygon5{
    width: 25%;
    height: 30%;
    background-image: url("Path\ 6.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 7%;
    left: 76%;
}#polygon6{
    width: 28%;
    height: 40%;
    background-image: url("Path\ 7.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 350px;
    left: 72%;
}
#polygon7{
    width: 20%;
    height: 25%;
    background-image: url("Polygon\ 3.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate();
    left: 40%;
    top: -10%;
}

/*Home*/

 #title{
     width: 90%;
     height: 40%;
     text-align: center;
     padding-top: 20%;
     position: relative;
 }

#home-img{
    width: 100%;
    height: 100%;
    background-image: url("Group\ 49.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 365px;
    left: 59%;
}

#name{
    font-family: 'Advent Pro', sans-serif;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 5px;
}
#role a{ 
    text-decoration: none;
    color: black;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
}
#p1{

    font-family: 'Comfortaa', cursive;
}
#p2{
    font-family: 'Comfortaa', cursive;
}
/*Illustration page*/

#illustration-img{
    width:30%;
    height:45%;
    background-image: url("Group\ 17.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 56%;
    left: 70%;
}
#illustration-title{
    font-family: 'Advent Pro', sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5px;
    position: absolute;
    top:400px ;
    left: -70px;
    transform: rotate(-90deg);
}
#gallery{
    width: 30%;
    height: 30%;
    position: relative;
}

/*Design*/

#design-img{
    width: 50%;
    height: 60%;
    background-image: url("web.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 15%;
    
}
#design-title{
    padding-top: 50%;
    padding-left: 60%;
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    
}
/*Contact*/


#work-img1{
    width:20%;
    height:60%;
    background-image: url("Group\ 22.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 57.2%;
    left: 75%;
}
#work-img2{
    width:20%;
    height:60%;
    background-image: url("Group\ 23.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 67.5%;
    left: 58%;
}
#contact-title{
    padding: 100px 30px 0px 80px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 5px;
   
}

#line6{
    width:10%;
    border-bottom: none;
    border:2px solid #3F3D56;
    border-bottom: none;
    position: absolute;
    top: 60%;
    left: 24%;
    transform: rotate(90deg);
    display: flex;
}
#head{
    font-family: 'Poppins', sans-serif;
        font-size: 18px;
        top: 44%;
        left: 28%;
        position: absolute;
        padding-bottom: 20px;
}
#p1{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    top: 49%;
    left: 30%;
    position: absolute;
    padding-bottom: 20px;
    text-align: left;
}
#quote3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    top: 67.5%;
    left: 30%;
    position: absolute;
    padding-bottom: 20px;
}
#mail{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    top: 67.5%;
    left: 45%;
    position: absolute;
    padding-bottom: 20px;
}
#mail a{
    color: black; 
    text-decoration: none; 
}
#mail a:hover{
    text-decoration: underline;
    
}

@media(min-width:992px){
    #polygon3
    {
        top: 85%;
    }
   #polygon6
   {
       top:650px;
   }
   #bars
   {
       padding: 24% 4%;
   }
   #icons{
       top: 39%;
   }
   #line3{
       top: 30%;
   }
   #work-img1{
     top: 68.5%;
   }
   #work-img2{
    top: 76.5%;
   }
   #illustration-img{
       top:67.5%;
   }
   #illustration-title{
       top: 500px;
   }
   #design-img{
     top: 42%;
   }
   #design-title{
       padding-top: 64%;
   }
   #home-img{
    top: 480px;
    left: 43%;
   }
   .text1{
       top: 78%;
   }
   .text2{
    top: 64%;
    }
    #quote1{
        left: 0.2%;
    top: 71%;
    }
    #quote2{
        left: 2%;
    top: 80%;
    }
    #text2{
        left: 1%;
    top: 62%;
    }
    #index-quote1{
        left: 1.7%;
        top: 75%;
    }
    #index-quote2{
        top: 77%;
        left: 2.2%;
    }
}